/* =====CONTENT STYLES =====*/
/*Home Page CSS*/ 
/*image and title style*/
.image-container{
	width: 100%;
	position:relative;
	display: inline-block;
	overflow:hidden;
	font-family:'Crimson', Georgia, serif;
}
.image-container img{
	display:block;
	width: 100%;
	margin-left:auto;
	margin-right:auto;
	
}
.image-container .centered{
	width: 90%; /* Set the width of the positioned div */
	position:relative;
	text-align: center;
	margin: 3% auto;
	padding: 5px 0;
	color: white;
	left: 0;
	right: 0;      
	top: 5%; /* Adjust this value to move the positioned div up and down */
}
.image-container .centered h1{
	font-size: 40px; 
	font-family:'Amiri', Arial, serif;
	margin-bottom: 1%;
}
.image-container .centered button{
	background-color: #F2F14C;
	color:#0C1862;
	border-radius: 10px;
	border-style: none;
	font-family:'Crimson', serif;
	font-size: 35px;
	padding: 10px;
	width: 70%;
}
.image-container .centered button:hover{
	background-color: #FFFE78;
    	color: #0A8A26;
	font-size:37px;
    	border-radius: 25px;
	box-shadow: 1px 4px 5px #30A804;
}
/*about us information and image style*/
.content-wrapper{
	display: block;
	width: 100%;
	margin: 2% 0 2% 0;
	overflow:hidden;
	font-family:'Crimson', Georgia, serif;
}
/*row2 style*/
.content-wrapper .row2{
	width: 100%;
	display:block;
	float: left;
	background-color: #18AC39;
	color: white;
}
.content-wrapper .row2 .about-section{
	width: 80%;
	margin: 6% 10% 3% 10%;
}
.content-wrapper .row2 h2{
	font-size: 1.4em;
}
.content-wrapper .row2 p {
	font-size: 1.1em;
	font-style: italic;
	margin-top: 45px;
	margin-bottom: 45px;
}
.content-wrapper .row2 button{
	background-color: #F2F14C;
	color:#0C1862;
	border-radius: 15px;
	border-style: none;
	width:90%;
	font-family:'Crimson', Georgia,  serif;
	font-size: 35px;
	padding: 9px;
	margin-bottom: 20px;
}
.content-wrapper .row2 button:hover{
	border-radius: 25px;
	background-color: #FFFE78;
    	color: #0A8A26;
    	font-size: 38px;
	box-shadow: 1px 3px 3px #0C1862;
}
/*row3 style*/
.content-wrapper .row3{
	width:100%;
	margin-top: 2%;
	float:left;	
	vertical-align: top;
	text-align: center;
	display: inline-block;
	background: #5FCB77;
}
.content-wrapper .row3 img{
	display:block;
	width: 380px;
	height: 480px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom: 10px;
	margin-top: 10px;
	border: 5px solid #18267D;
}	
.content-wrapper .row3 p{
	display:block;
	font-size: 20px;
	color: #0C1862;
	width:90%;
	margin: 0% 5% 5% 5%;
}
/*end of home page style*/


/*About Us Page CSS*/ 
#about-wrapper{
	background-color:#5FCB77;
	padding:5px;
	text-align:center;
}
#about-wrapper p{
	border-left: 6px solid #C6C52E;
	border-right: 6px solid #C6C52E;
	box-shadow: 0px 4px 4px #5FCB77; 
	background-color: #2D3A88;
	box-sizing: border-box;
	border-radius: 1.5em;
	padding: 13px 21px;
	padding-top: 12px;
	padding-bottom: 12px;
	margin-bottom: 10px;
	font-family: 'Crimson Text', Georgia, serif;
	font-size:1.3em;
}
#about-wrapper h1 {
	margin-top: 10px;
	margin-bottom: 20px;
	padding: 5px;
	color: white;
	background-color: #23953C;
	border-radius: 2em;
	border: 4px solid #248500;
	font-size: 1.5em;
	font-family: 'Amiri', Arial, serif;
	box-sizing: border-box;
	
}
#about-wrapper .who {
	color: #FFFD00;
	box-sizing: border-box;
	border-radius: 0.5em;
	background-color: #30A804;
	padding: 10px;
}
#about-wrapper .origin {
	color: #FFFD00;
	background-color: #30A804;
	box-sizing: border-box;
	border-radius: 0.5em;
	padding: 10px;
	margin-top:25px;
}
#about-wrapper .origin img{
	display:block;
	width: 100%;
	margin-left:auto;
	margin-right:auto;
	border-radius: 5px;
	margin-bottom: 10px;
}
#about-wrapper .events {
	color: #FFFD00;
	box-sizing: border-box;
	border-radius: 0.5em;
	background: #30A804;
	padding: 10px;
	margin-top:25px;
}
#about-wrapper .events ul li{
	font-family: 'Crimson Text', Georgia, serif;
	list-style-type: none;
	padding: 11px 21px;
	border-left: 6px solid #C6C52E;
	border-right: 6px solid #C6C52E;
	background: #2D3A88;
	box-shadow: 0px 4px 4px #5FCB77; 
	box-sizing: border-box;
	border-radius: 1em;
	margin-bottom: 10px;
	font-size:1.3em;
}


/*end of about us page style*/


/*Contact Us Page CSS*/ 
#contact_wrapper {
	width:100%;
	margin: auto;
	background: #3243AF;
	padding:0;
}
form {
    	display:block;
    	box-shadow: 0px 2px 4px 4px rgba(0, 0, 0, 0.14);
}
fieldset {
    	padding:10px;
    	border-style: none;
    	margin:0;
}
h2 {
	font-family: 'Amiri', Arial, serif;
 	font-size: 1.35em;
  	color: white;
  	text-align: center;
  	margin: 5% 0;
}
.contact_info {
	overflow:hidden;
	display:block;
}
.contact_info input { 
	padding: 10px 10px;
  	margin-bottom:10px;
  	margin-right: 2.5%;
  	margin-left:2.5%;
  	box-sizing: border-box;
  	font-size: 0.75em;
  	width: 95%;
  	float: left;
  	border-style: none;
  	font-family: 'Crimson Text', Georgia, serif;
}

.contact_info label {
  	color: #FFFD00;
 	text-align: left;
  	font-size: 1.1em;
  	float: left;
  	width: 95%;
  	margin-right: 2.5%;
  	margin-left:2.5%;
  	margin-bottom: 5px;
  	display:block;
  	font-family: 'Crimson Text', Georgia, serif;
}

.radio_grp {
	overflow:hidden;
	display:block;
	width: 95%;
	margin-right: 2.5%;
  	margin-left:2.5%;
}
.radio_grp .radio_buttons {
	display: flex;
}
.radio_grp label {
	color: #FFFD00;
  	font-size: 0.9em;
  	float: right;
  	margin-bottom: 5px;
  	display: block;
  	width: 80%;
  	font-family: 'Crimson Text', Georgia, serif;
}
.radio_grp input {
	float:left;
	margin-right: 7%;
	margin-left: 3%;
	width: 10%;
	font-family: 'Crimson Text', Georgia, serif;
}
input[type='radio'] { 
     transform: scale(2); 
}
#submit {
	font-family: 'Crimson Text', Georgia, serif;
  	box-sizing: border-box;
 	width: 70%;
  	height: 2em;
  	background-color: #FFFD00;
  	color: #0C1862;;
  	font-size: 1em;
  	margin: 5% 15%;;
}
#submit:hover {
	border-radius: 10px;
	font-size:1.1em;
	box-shadow: 1px 2px 3px white;
	color: #0A8A26;
}
/*end of Contact us page style*/

/* ===== STATE STYLES ===== */
@media screen and (min-width:480px){
	
	/*home page media query for 480px*/
	/*image-container media query*/
	.image-container .centered{
		margin: 3% auto;      
		width: 95%; /* Set the width of the positioned div */
	}
	.image-container .centered h1{
		font-size: 35px;
		padding: 3px;
		margin-bottom: 2%;
	}
	.image-container .centered button{
		font-size: 30px;
		width: 60%;
	}
	.image-container .centered button:hover{
		font-size: 32px;
		box-shadow: 1px 5px 6px #30A804;
	}
	/*content media query*/
	.content-wrapper .row2 h2{
		font-size: 1.3em;
	}
	.content-wrapper .row2 p {
		font-size: 0.95em;
		font-style: italic;
		margin-top: 40px;
		margin-bottom: 40px;
	}
	.content-wrapper .row2 button{
		width:70%;
		padding: 7px;
		margin-bottom: 20px;
		font-size: 30px;
	}
	.content-wrapper .row2 button:hover{
		font-size: 33px;
	}	
	.content-wrapper .row3 {
		margin-top: 3%;
	}
	.content-wrapper .row3 img{
		width: 350px;;
		height: 450px;
	}
	.content-wrapper .row3 p{
		font-size: 17px;
		width: 80%;
		margin: 0% 10% 5% 10%;
	}
	/*end of home page media query*/



	/*about us page media query for 480px*/
	#about-wrapper {
		padding:10px;
	}
	#about-wrapper h1 {
		font-size: 1.4em;
	}
	#about-wrapper p {
		font-size: 1.1em;
	}
	#about-wrapper .events ul li {
		font-size: 1.1em;
	}
	
	/*end of about us page media query*/
	
	
	
	/*contact us page media query for 480px*/
@media screen and (min-width:480px){
	#contact_wrapper{
		width:90%;
	}
	h2{
		font-size:1.3em;
	}
	.contact_info input{
		font-size: 0.70em;
	}
	.contact_info label{
		font-size: 0.95em;
	}
	.radio_grp label{
		font-size: 0.8em;
	}
	input[type='radio'] { 
		 transform: scale(1.5); 
	}
	#submit{
		width: 60%;
		margin: 5% 20%;
		font-size: 0.9em;
	}
	#submit:hover{
		border-radius: 9px;
		font-size:0.95em;
	}
}
	
	/*end of contact us page media query*/
}
@media screen and (min-width: 600px) {

	/*home page media query for 600px*/
	/*center image and text media query*/
	.image-container .centered{
		position: absolute;
		margin: 0 auto;     
		top: 7%; /* Adjust this value to move the positioned div up and down */
		color: #0C1862;
		width: 100%; /* Set the width of the positioned div */
	}
	.image-container .centered h1{
		font-size: 30px;
		padding: 5px;
		margin-bottom: 4%;
	}
	.image-container .centered button{
		font-size: 25px;
		width: 50%;
		margin-bottom: 3%;
	}
	.image-container .centered button:hover{
		font-size: 27px;
		box-shadow: 1px 6px 7px #0C1862;
	}
	/*about us content and image media query*/
	.content-wrapper{
		min-height: 300px;
		display: -webkit-flex; /* Safari */		
		display: flex; /* Standard syntax */
	}
	.content-wrapper .row2{
		width: 60%;
	}
	.content-wrapper .row2 h2{
		font-size: 1.2em;
	}
	.content-wrapper .row2 p {
		font-size: 0.8em;
		margin-top: 35px;
		margin-bottom: 35px;
	}
	.content-wrapper .row2 button{
		width:65%;
		padding: 6px;
		margin-bottom: 35px;
		font-size: 25px;
	}
	.content-wrapper .row2 button:hover{
		font-size: 28px;
	}	
	.content-wrapper .row3{
		width:40%;
		margin-top: 0%;
	}
	.content-wrapper .row3 img{
		width: 200px;
		height: 300px;
	}	
	.content-wrapper .row3 p{
		font-size: 15px;
		width:70%;
		margin: 0% 15% 5% 15%;
	}
	/*end of home page media query*/
	
	
	/*about us page media query for 600px*/
	#about-wrapper {
		padding:15px;
	}
	#about-wrapper h1 {
		font-size: 1.2em;
	}
	#about-wrapper p {
		font-size: 0.9em;
	}
	#about-wrapper .events ul li {
		font-size: 0.9em;
	}
	
	/*end of about us page media query*/
	
	
	
	/*contact us page media query for 600px*/
@media screen and (min-width:600px) {
	#contact_wrapper{
		width:75%;
	}
	h2{
		font-size: 1em;
	}
	.contact_info input{
		font-size: 0.65em;
	}
	.contact_info label{
		font-size: 0.85em;
	}
	.radio_grp label{
		font-size: 0.75em;
	}
	input[type='radio'] { 
		 transform: scale(1.2); 
	}
	#submit{
		width: 70%;
		margin: 5% 15%;
		font-size: 0.7em;
	}
	#submit:hover{
		border-radius: 8px;
		font-size:0.75em;
	}
}
	
	/*end of contact us page media query*/
}


