#contact_wrapper{
	width:100%;
	margin: auto;
	background: #3243AF;
	padding:0;
}
form{
    display:block;
    box-shadow: 0px 2px 4px 4px rgba(0, 0, 0, 0.14);
}
fieldset{
	padding:10px;
    border-style: none;
    margin:0;
}
h2{
	font-family: 'Times', serif;
 	font-size: 1.35em;
  	color: white;
  	text-align: center;
  	margin: 5% 0;
}
.contact_info{
	overflow:hidden;
	display:block;
}
.contact_info input{ 
	padding: 10px 10px;
  	margin-bottom:10px;
  	margin-right: 2.5%;
  	margin-left:2.5%;
  	box-sizing: border-box;
  	font-size: 0.75em;
  	width: 95%;
  	float: left;
  	border-style: none;
  	font-family: 'Times', serif;
}

.contact_info label {
  	color: #FFFD00;
 	text-align: left;
  	font-size: 1.1em;
  	float: left;
  	width: 95%;
  	margin-right: 2.5%;
  	margin-left:2.5%;
  	margin-bottom: 5px;
  	display:block;
  	font-family: 'Times', serif;
}
.radio_grp{
	overflow:hidden;
	display:block;
	width: 95%;
	margin-right: 2.5%;
  	margin-left:2.5%;
}
.radio_grp .radio_buttons{
	display: flex;
}
.radio_grp label{
	color: #FFFD00;
  	font-size: 0.9em;
  	float: right;
  	margin-bottom: 5px;
  	display: block;
  	width: 80%;
  	font-family: 'Times', serif;
}
.radio_grp input{
	float:left;
	margin-right: 7%;
	margin-left: 3%;
	width: 10%;
	font-family: 'Times', serif;
}
input[type='radio'] { 
     transform: scale(2); 
}
#submit{
	font-family: 'Times', serif;
  	box-sizing: border-box;
 	width: 70%;
  	height: 2em;
  	background-color: #FFFD00;
  	color: #0C1862;;
  	font-size: 1em;
  	margin: 5% 15%;;
}
#submit:hover{
	border-radius: 10px;
	font-size:1.1em;
	box-shadow: 1px 2px 3px white;
	color: #0A8A26;
}
@media screen and (min-width:480px){
	#contact_wrapper{
		width:90%;
	}
	h2{
		font-size:1.3em;
	}
	.contact_info input{
		font-size: 0.70em;
	}
	.contact_info label{
		font-size: 0.95em;
	}
	.radio_grp label{
		font-size: 0.8em;
	}
	input[type='radio'] { 
		 transform: scale(1.5); 
	}
	#submit{
		width: 60%;
		margin: 5% 20%;
		font-size: 0.9em;
	}
	#submit:hover{
		border-radius: 9px;
		font-size:0.95em;
	}
}
@media screen and (min-width:600px) {
	#contact_wrapper{
		width:75%;
	}
	h2{
		font-size: 1em;
	}
	.contact_info input{
		font-size: 0.65em;
	}
	.contact_info label{
		font-size: 0.85em;
	}
	.radio_grp label{
		font-size: 0.75em;
	}
	input[type='radio'] { 
		 transform: scale(1.2); 
	}
	#submit{
		width: 70%;
		margin: 5% 15%;
		font-size: 0.7em;
	}
	#submit:hover{
		border-radius: 8px;
		font-size:0.75em;
	}
}
